<h1>Editar Libro de Bautizo</h1>
<CENTER>
<%= render 'form' %>
<%= button_to 'Ver', @baptism_book, :method => :get %>
</CENTER>
<DIV Align=left>
<%= button_to 'Volver', baptism_books_path, :method => :get %>
</DIV>