<% if current_user != nil %>
  <% if current_user.rol == 1 %>
<h1>Listando Logs de Usuario</h1>

<table border=1>
  <tr>
  	<th>Usuario</th>
  	<th>Estado</th>
    <th>Hora Entrada</th>
    <th>Hora Salida</th>
<% @user_logs.each do |user_log| %>
  <tr>
  	<td><Center><%= user_log.user.email%></td>
  	<% if user_log.user.status%>
  		<td><Center>Activo</Center></td>
  	<%else%>
  		<td><Center>Inactivo</Center></td>
  	<%end%>
    <td><Center><%= user_log.entrada %></Center></td>
    <td><Center><%= user_log.salida %></Center></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Lista de Usuarios', user_managers_path %>
  <%else%>
    <br>
    Usted No tiene permitido ingresar a esta pagina
  <%end%>
<%else%>
  <br>
  Usted No tiene permitido ingresar a esta pagina
<%end%>