<h1>Listando Logs de Usuario</h1>

<table>
  <tr>
  	<th>Usuario</th>
  	<th>Estado</th>
    <th>Hora Entrada</th>
    <th>Hora Salida</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_logs.each do |user_log| %>
  <tr>
  	<td><%= user_log.user.email%></td>
  	<% if user_log.user.status%>
  		<td>Activo</td>
  	<%else%>
  		<td>Inactivo</td>
  	<%end%>
    <td><%= user_log.entrada %></td>
    <td><%= user_log.salida %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Lista de Usuarios', user_managers_path %>
