<h1>Editar Libro de Confirmacion</h1>

<%= render 'form' %>
<center>
<%= button_to 'Ver', @confirmation_book, :method => :get %> 
</center>

<div align="Left"><%= button_to 'Volver', confirmation_books_path, :method => :get %></div>
