<h1>Partidas de Confirmacion con nombre <%=@nombre%></h1>
<form method="GET" action="/confirmation_books/searchName">
    Nombre: <input type="text" name="nombre"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar">
</form>
<br>
<br>

<%= render "confirmation_items/index" %>

<div align="left">
<%= button_to 'Volver', confirmation_books_path, :method => :get %></div>
