<h1>Modificar Parroquia</h1>
<center>
<%= render 'form' %>
<br>
<%= button_to 'Ver', @church, :method => :get %>
</center>
<div align="left"><%= button_to 'Volver', churches_path, :method => :get %></div>
