<h1>Editar Libro de Matrimonio</h1>
<Center>
<%= render 'form' %>

<%= button_to 'Ver', @marriege_book, :method => :get %>
</Center>
<div align="left">
<%= button_to 'Volver', marriege_books_path, :method => :get %>
</div>
