<h1>Partidas de Matrimonio con nombre <%=@nombre%></h1>
<form method="GET" action="/marriege_books/searchName">
    Nombre: <input type="text" name="nombre"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar">
</form>
<br>
<br>

<%= render "marriege_items/index" %>

<div align="left">
<%= button_to 'Volver', marriege_books_path, :method => :get %>
</div>