<% if current_user != nil %>
	<% if current_user.rol == 1 %>

<h1>Editar rol</h1>

<form action="/user_managers/changeRole/<%=@user.id%>" method="GET">
Id: <%=@user.id%>
<br>
<br>Email: <%=@user.email%></br>
<br>
Rol:
<select name="rol">
	<% if @user.rol == 1%>
	<td> <option selected value=1>Administrador</option> </td>
	<% else %>
		<% if @user.rol == 2%>
		<td> <option selected value=2>Redactor</option> </td>
		<% else %>
			<% if @user.rol == 3%>
				<td> <option selected value=3>Validador</option> </td>
			<%end %>
		<%end%>
	<%end%>
<option value=1>Administrador</option>
<option value=2>Redactor</option>
<option value=3>Validador</option>
</select>
<br>
<br>

<input type="submit" value="Guardar">

</form>

<br>
<a href="/user_managers">Lista de Usuarios</a>

	<%else%>
		<br>
		Usted No tiene permitido ingresar a esta pagina
	<%end%>
<%else%>
	<br>
	Usted No tiene permitido ingresar a esta pagina
<%end%>