<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>SRLS: Sistema de Registro de Libros Sacramentales</TITLE>
	</HEAD>
	<BODY VLINK='BLUE', ALINK='BLUE',>
		<H1><MARQUEE>SRLS</MARQUEE></H1>

		<br><A HREF="/baptism_books">Libros De Bautizo</A>
		<A HREF="/confirmation_books">          Libros De Confirmacion</A>	
		<A HREF="/marriege_books">          Libros De Matrimonio</A>
		<A HREF="/death_record_books">          Libros De Defuncion</A>	

		
	</BODY>

</HTML>






