<h1>Editar  Libro de Defuncion</h1>
<Center>
<%= render 'form' %>
</Center>
<%= button_to 'Ver', @death_record_book, :method => :get %>
<%= button_to 'Volver', death_record_books_path, :method => :get %>
